<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-warning" asp-controller="Home" asp-action="Index">
            <i class="bi bi-egg-fried"></i> FastFoodHub
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ms-auto">
    @if (Context.Session.GetString("UserEmail") != null)
    {
        <li class="nav-item">
            <span class="nav-link text-light">
                <i class="bi bi-person-circle text-warning"></i> 
                Welcome, @Context.Session.GetString("UserName") 
                <span class="badge bg-secondary ms-1">@Context.Session.GetString("UserRole")</span>
            </span>
        </li>

        
        @if (Context.Session.GetString("UserRole") == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link text-warning fw-bold" asp-controller="Admin" asp-action="ManageMenu">ADMIN PANEL</a>
            </li>
        }
        else
        {
            
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Frontend" asp-action="Cart">
                    <i class="bi bi-cart"></i> CART
                </a>
            </li>
        }

        <li class="nav-item ms-lg-3">
            <a class="btn btn-outline-danger btn-sm mt-1" asp-controller="Account" asp-action="Logout">LOGOUT</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-warning fw-bold ms-lg-2" asp-controller="Account" asp-action="Register">REGISTER</a>
        </li>
    }
</ul>

            
              
        </div>
    </div>
</nav>