@model FastFood.Models.User
<div class="d-flex align-items-center justify-content-between vh-10 bg-black text-white px-3">
    <a href="/Home/Intro" class="btn btn-outline-dark btn-sm"> Back</a>

    <h1 class="m-0 flex-grow-1 text-center" style="margin-left: -80px;">Pizzeria</h1>

    <div style="width: 80px;"></div>
</div>
<div class="d-flex align-items-center justify-content-center vh-100 bg-black" >
    
    <div class="card bg-dark text-white p-4 shadow-lg border-warning" style="width: 400px; border-width: 2px;">
        <h2 class="text-warning text-center fw-bold mb-2">PIZZA MODE</h2>
        <p class="text-secondary text-center small mb-4">Enter your credentials</p>
        
        @if (ViewBag.Error != null) { <div class="alert alert-danger py-2">@ViewBag.Error</div> }

        <form asp-action="Login" method="post">
            <div class="mb-3">
                <input name="email" type="email" class="form-control bg-black text-white border-secondary" placeholder="Email" required />
            </div>
            <div class="mb-3">
                <input name="password" type="password" class="form-control bg-black text-white border-secondary" placeholder="Password" required />
            </div>
             <button type="submit" class="btn btn-warning w-100 fw-bold py-2 mt-2">LOG IN</button> 
            <p class="text-center mt-3 small">Want to Register? <a asp-action="Register" class="text-warning">Register</a></p>
        </form>
    </div>
</div>
